<% include ./partials/header %>

<h1>
	<p> <%=niania.name%></p>
</h1>

<p> <img src="<%=niania.image%>"</p>
<p>
	<%=niania.desc%>
</p>	

<% niania.comments.forEach(function(comment){ %>
	
 <p>
	 <%= comment.text %> - <strong> <%= comment.author %> </strong>
</p>

<%}) %>