<% include ../partials/header %>
<div class="container">

	<div class="container border border-info">
		<div class="row">
			<div class="container">
				<h1 class="text-center">
					<p> <strong><%= niania.name %></strong></p>
				</h1>
				<div class="container">
					
					<p> <img style="height: 300px;" src="<%=niania.image%>"> </p>
				
					<p> info: </p> 
						<p>
							
					<%=niania.desc%></p>
					<em><p> Submitted By <strong><%=niania.author.username%></strong></p></em>
			
					<h4 class="text-right"><strong> 25zl/h </strong></h4>
					<%if(currentUser && niania.author.id.equals(currentUser._id)){%>
					<a class="btn btn-info float-right" href="/niania/<%= niania._id %>/edit">Edit</a>
					<form action="/niania/<%=niania._id%>?_method=DELETE" method="POST">
						<button class="btn btn-danger float-right">
							Delete!
						</button>
						
					</form>
					<%}%>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container">		

				<p>
					<a class="btn btn-warning" href="/niania/<%= niania._id %>/comments/new"> ADD COMMENT </a>
				</p>
	</div>

				<br>	


	<div class="container border border-warning">

		<div>
			<% niania.comments.forEach(function(comment){ %>

			<div class="container">
				<p class="p-2 m-2 float-right">
					<strong> 
					<%= comment.author.username %>
					</strong>
				</p> 
			</div>
				<br>
				</hr>
			<div class="container border border-warning" id="commentText">
				<p> comment: </br>
				<%= comment.text %>
				</p>
				<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
					<a class="btn btn-xs btn-warning" href="/niania/<%=niania._id%>/comments/<%=comment._id%>
					/edit">Edit</a>
				<%}%>
			</div>
		  <%}) %>
		</div>
	</div>
</div>



<% include ../partials/footer %>